<!DOCTYPE html>
<html>
<head>
  <title>Survey Form</title>
</head>
<body>

<div id="wrapper">
  
  <h1>Submitted Information</h1>
  <p>Name:  <%= user.name %></p>
  <p>Dojo Location: <%= user.location %></p>
  <p>Favorite Language: <%= user.language %></p>
  <p>Comment: <%= user.comment %></p>

  <form action="/">
    <input type="submit" value="Go Back">
  </form>

</div>




</body>
</html>