<fieldset>
  <legend>User Information</legend>
  <ul>
    <li>User #1 likes potatos.</li>
    <li>User #1 likes to eat sandwiches.</li>
    <li>User #1 used to live in New Jersey.</li>
  </ul>
</fieldset>