<!DOCTYPE html>
<html>
<head>
  <title>Add a New User</title>
</head>
<body>


<fieldset>
  <legend>User Information</legend>
  <form action="/users" method="post">
    <label>First name: 
    <input type="text" name="first"></label>
    <label>Last name: 
    <input type="text" name="last"></label>
    <label>Favorite language: 
    <input type="text" name="language"></label>
    <input type="submit" name="">
  </form>
</fieldset>


</body>
</html>