<!DOCTYPE html>
<html ng-app='app'>
<head>
  <title>Build a Controller</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('myController', ['$scope', function($scope){

      $scope.foods = [];
      $scope.addFood = function() {
        $scope.foods.push($scope.newFood);
        $scope.newFood = "";
      }
    }]);

  </script>
</head>
<body>

<div ng-controller='myController'>
<label>Favorite Food:
  <form ng-submit="addFood();"">
    <input type="text" ng-model="newFood"></label>
    <input type="submit" value="Add Food">
    <div ng-if="foods">
  </form>
    <p> Currently Typing: {{ newFood }} </p>
  </div>

    <input type="text" placeholder="filter..." ng-model="foodFilter">
      <div ng-repeat="food in foods | filter:foodFilter track by $index">
        <p> {{ food }} </p>
      </div>

</div>


</body>
</html>